* {
  outline: red 1px solid;
}

img {
  max-width: 100vw; 
}

h1 {
  color: #000;
  text-align: center;
  font-family: Leckerli One;  
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {color: #000;
  text-align: center;
  font-family: Pecita;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

h3 {
  color: #000;
text-align: center;
font-family: Monda;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal
}

p {color: #000;
  text-align: center;
  font-family: Monda;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

nav {color: #000;
  text-align: center;
  font-family: Monda;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

header {}