/* {
  outline: red 1px solid;
}

/*home page*/

h1 {
  color: #000;
  text-align: center;
  font-family: 'Leckerli One';  
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {color: #000;
  text-align: center;
  font-family: Pecita;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

p {color: #000;
  text-align: center;
  font-family: Monda;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

/*navigation*/ 

nav {color: #000;
  text-align: center;
  font-family: Monda;
  font-size: 20px;
}

nav a {
  color: #000;
  background: fixed #4F7A51;
  margin: 200px;
  padding: 10px;
  border: 4px #80AFCA;
}

body {background: linear-gradient(to top, #71956B, #80AFCA);}

.header {
  width: 100vw;
}

header {
  display: flex;
  justify-content: center;
}
